:host {
  position: relative;
}

.body {
  min-width: 306px;
  min-height: 204px;
  padding: 40px 26px;
  background: rgba(240, 240, 240, 1);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border-left: 10px solid rgba(58, 58, 60, 1);
  box-sizing: border-box;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  padding: 10px 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(58, 58, 60, 1);
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}