@font-face {
  font-family: 'MiSans';
  src: url(../font/MiSans/ttf/MiSans-Bold.ttf);
}

.container {
  justify-content: center;
  font-family: 'MiSans';
  width: 1190px;
  background: url(../image/author/background.png) no-repeat, #fff;
  background-size: 100% auto;
  display: block;
  margin: 20px auto;
  padding: 0 0 20px 0;  
}

.information-container {
  margin-top: 86px;
  display: flex;
}

.people {
  width: 400px;
  height: 400px;
  margin-top: 24px;
  margin-left: 120px;
  margin-right: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 6px 4px 12px rgba(58, 58, 60, 0.3);
  overflow: hidden;
}

.people image {
  width: 100%;
  height: 100%;
}

.contact {
  height: 156px;
  background: rgba(58, 58, 60, 1);
  padding: 12px 64px;
  display: flex;
  flex-direction: column;
}

.contact .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .cell {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1;
}

.contact .item + .item {
  margin-top: 18px;
}

.contact .cell .label {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background: rgba(204, 204, 204, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(58, 58, 60, 1);
  font-size: 12px;
  font-weight: 900;
}

.contact .cell .text {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin-left: 16px;
  text-wrap: nowrap;
}

.educational {
  margin-top: 72px;
  display: flex;
}

.card {
  display: inline-block;
}

.card .title {
  font-size: 22px;
  font-weight: 600;
  color: rgba(10, 10, 10, 1);
}

.card .text {
  font-size: 16px;
  color: #666;
  font-weight: normal;
  display: flex;
}


.educational .card .title {
  margin-bottom: 22px;
}

.name {
  text-align: center;
  margin: 34px 0;
}

main {
  padding: 0 60px;
}

main ul li + li {
  margin-top: 12px;
}

main section + section {
  margin-top: 60px;
}

.content p {
  line-height: 30px;
  color: rgba(99, 99, 99, 1);
}

.content .title {
  display: flex;
  justify-content: space-between;
}

.content .text {
  color: rgba(99, 99, 99, 1);
}