:root {
  --font-size: 16px;
  --color-primary: rgb(108, 176, 245);
  --color-primary-hover: rgba(137, 189, 241, 0.6);
  --color-danger: rgb(74, 163, 218);
  --color-danger-hover: rgba(217, 235, 241, 0.6);
}